PORT=3001
JWKS_URI=https://prod-tmprl.us.auth0.com/.well-known/jwks.json
CORS_ALLOW_ORIGINS=https://cloud.temporal.io
CORS_ALLOW_HEADERS=X-Namespace,Content-Type,Authorization
CORS_ALLOW_METHODS=POST,OPTIONS,GET
ENCRYPTION_KEY=sa-rocks!sa-rocks!sa-rocks!yeah!
ENCRYPTION_KEY_ID=c2EtZGVtby1rZXk=
REQUIRE_AUTH=true
